<html>
  <head>
    <!-- ヘッダーのスクリプト群の読み込み -->
    <%- include('./ejs-components/header.ejs') %>
    <script>
      window.onload = (event) => {
        fetch(`<%= apiUrl %>exhibits/<%=exhibit.id%>/incrementViewsCount`, {
          method: 'PUT',
        })
          .then((res) => res.json())
          .then((res) => console.log(res));
      };
    </script>
  </head>
  <body>
    <!-- audio: trueを付与すると音声も取り入れられるけど、動作が重くなる問題があるので、コメントアウト -->
    <a-scene
      physics="debug : false;"
      renderer="colorManagement: true; antialias: true;"
      networked-scene="room: exhibit-<%=exhibit.id%>;debug: true;adapter: webrtc;"
      cursor="rayOrigin: mouse"
      renderer="colorManagement: true"
    >
      <!-- アバター -->
      <%- include('./ejs-components/ejs-assets/avatar.asset.ejs') %>
      <!-- 空 -->
      <%- include('./ejs-components/ejs-assets/sky.asset.ejs') %>
      <!-- ブース -->
      <%- include('./ejs-components/ejs-assets/booth.asset.ejs') %>
      <!-- プレゼンター -->
      <%- include('./ejs-components/ejs-assets/booth-presenter.asset.ejs') %>
      <!-- 作品概要 -->
      <%-
      include('./ejs-components/ejs-assets/booth-exhibit-overview.asset.ejs') %>
      <!-- 作品紹介 -->
      <%-
      include('./ejs-components/ejs-assets/booth-presentation-image.asset.ejs')
      %>
      <!-- デモ動画、上のタイトル -->
      <%- include('./ejs-components/ejs-assets/booth-demo-video.asset.ejs') %>
      <!-- 真ん中の作品 -->
      <%- include('./ejs-components/ejs-assets/booth-exhibit.asset.ejs') %>
      <!-- リアクションパネル -->
      <%-
      include('./ejs-components/ejs-assets/booth-reaction-panel.asset.ejs')%>
      <!-- いいね -->
      <%- include('./ejs-components/ejs-assets/booth-like.asset.ejs') %>
      <!-- 現在時間を表示 -->
      <%- include('./ejs-components/ejs-assets/booth-current-time.asset.ejs') %>
      <!-- 出口 -->
      <%- include('./ejs-components/ejs-assets/booth-exit.asset.ejs') %>

      <!-- ロビーに戻る用のボックスを出口アセットに被せる（visible: falseにして、隠している） -->
      <!-- camera -->
      <a-camera
        id="player"
        position="0 1.6 0"
        networked="template:#avatar-template;attachTemplateToLocal:false;"
        spawn-in-circle="radius:3"
        universal-controls
        kinematic-body
        cursor="rayOrigin: mouse"
      >
        <!-- SELECTIVE INTERSECTIONS -->
        <a-cursor raycaster="objects:  a-gltf-model"></a-cursor>
        <a-sphere class="head" visible="false"></a-sphere>
      </a-camera>

      <!-- クリックイベント -->
      <a-entity
        position="0 1.6 0"
        look-controls
        wasd-controls
        camera
        cursor
        raycaster="objects: a-gltf-model"
      >
        <a-entity
          raycaster="far: 30; objects: a-gltf-model"
          cursor=""
          geometry="primitive: ring; radiusOuter: 0.015;
          radiusInner: 0.01; segmentsTheta: 32"
          material="color: #283644; shader: flat"
          position="0 0 -0.75"
        ></a-entity>
      </a-entity>
      <!-- 展示側Exit -->
      <%- include('./ejs-components/ejs-assets/lectern.asset.ejs') %>
    </a-scene>
  </body>
</html>
