<html>
  <head>
    <!-- ãƒ˜ãƒƒãƒ€ãƒ¼ã®ã‚¹ã‚¯ãƒªãƒ—ãƒˆç¾¤ã®èª­ã¿è¾¼ã¿ -->
    <%- include('./ejs-components/header.ejs') %>
  </head>
  <body>
    <!-- audio: trueã‚’ä»˜ä¸Žã™ã‚‹ã¨éŸ³å£°ã‚‚å–ã‚Šå…¥ã‚Œã‚‰ã‚Œã‚‹ã‘ã©ã€å‹•ä½œãŒé‡ããªã‚‹å•é¡ŒãŒã‚ã‚‹ã®ã§ã€ã‚³ãƒ¡ãƒ³ãƒˆã‚¢ã‚¦ãƒˆ -->
    <a-scene
      renderer="colorManagement: true; antialias: true;"
      networked-scene="room: exhibit-<%=exhibit.id%>;debug: true;adapter: webrtc;"
      cursor="rayOrigin: mouse"
      device-orientation-permission-ui=""
      renderer="colorManagement: true"
    >
      <a-assets timeout="200000">
        <!-- æ¥å ´è€…character -->
        <template id="avatar-template">
          <a-entity class="avatar">
            <!-- ãƒªã‚¢ã‚¯ã‚·ãƒ§ãƒ³_ASSET -->
            <a-image
              id="reaction"
              src="/honnban/assets/img/emo_cry.svg"
              position="-0.04 0.05 0.32"
              rotation="0 0 0"
              scale="0.4 0.4 0.4"
              look-at="#player"
            ></a-image>
            <!-- ãƒ¦ãƒ¼ã‚¶ãƒ¼å_ASSET -->
            <a-entity
              class="head"
              id="name"
              text="value: ãƒšãƒ³ã‚®ãƒ³; align: center; negate:false; font: /honnban/assets/fonts/noto-sans-cjk-jp/noto-sans-cjk-jp-msdf.json; font-image: /honnban/assets/fonts/noto-sans-cjk-jp/noto-sans-cjk-jp-msdf.png"
              position="-0.05 -0.2 0.25"
              scale="2 2 2"
              look-at="#player"
            ></a-entity>
            <!-- ðŸ§ -->
            <!-- <a-gltf-model
              class="head"
              src="/honnban/assets/model/cute_penguin/scene.gltf"
              scale="0.003 0.003 0.003"
              rotation="-10 180 0"
              position="0 -1.4 0.05791"
            ></a-gltf-model> -->
            <!-- ðŸ¥• -->
            <a-gltf-model
              class="head"
              src="/honnban/assets/model/super_carrot/scene.gltf"
              scale="0.007 0.007 0.007"
              rotation="-10 180 -15"
              position="0 -1 0"
            ></a-gltf-model>
          </a-entity>
        </template>
      </a-assets>

      <!-- ç©º -->
      <%- include('./ejs-components/ejs-assets/sky.asset.ejs') %>
      <!-- ãƒ­ãƒ“ãƒ¼ -->
      <%- include('./ejs-components/ejs-assets/booth.asset.ejs') %>
      <!-- ãƒ—ãƒ¬ã‚¼ãƒ³ã‚¿ãƒ¼ -->
      <%- include('./ejs-components/ejs-assets/booth-presenter.asset.ejs') %>
      <!-- ä½œå“æ¦‚è¦ -->
      <%-
      include('./ejs-components/ejs-assets/booth-exhibit-overview.asset.ejs') %>
      <!-- ä½œå“ç´¹ä»‹ -->
      <%-
      include('./ejs-components/ejs-assets/booth-presentation-image.asset.ejs')
      %>
      <!-- ãƒ‡ãƒ¢å‹•ç”»ã€ä¸Šã®ã‚¿ã‚¤ãƒˆãƒ« -->
      <%- include('./ejs-components/ejs-assets/booth-demo-video.asset.ejs') %>
      <!-- çœŸã‚“ä¸­ã®ä½œå“ -->
      <%- include('./ejs-components/ejs-assets/booth-exhibit.asset.ejs') %>
      <!-- ãƒªã‚¢ã‚¯ã‚·ãƒ§ãƒ³ãƒ‘ãƒãƒ« -->
      <%- include('./ejs-components/ejs-assets/booth-reaction-panel.asset.ejs')
      %>
      <!-- ã„ã„ã­ -->
      <%- include('./ejs-components/ejs-assets/booth-like.asset.ejs') %>
      <!-- ç¾åœ¨æ™‚é–“ã‚’è¡¨ç¤º -->
      <%- include('./ejs-components/ejs-assets/booth-current-time.asset.ejs') %>
      <!-- å‡ºå£ -->
      <%- include('./ejs-components/ejs-assets/booth-exit.asset.ejs') %>

      <!-- ãƒ­ãƒ“ãƒ¼ã«æˆ»ã‚‹ç”¨ã®ãƒœãƒƒã‚¯ã‚¹ã‚’å‡ºå£ã‚¢ã‚»ãƒƒãƒˆã«è¢«ã›ã‚‹ï¼ˆvisible: falseã«ã—ã¦ã€éš ã—ã¦ã„ã‚‹ï¼‰ -->
      <!-- camera -->
      <a-camera
        id="player"
        position="0 1.6 0"
        networked="template:#avatar-template;attachTemplateToLocal:false;"
        spawn-in-circle="radius:3"
        wasd-controls
        look-controls
        cursor
      >
        <!-- SELECTIVE INTERSECTIONS -->
        <a-cursor raycaster="objects: a-gltf-model"></a-cursor>
        <a-sphere class="head" visible="false"></a-sphere>
      </a-camera>
      <!-- ã‚¯ãƒªãƒƒã‚¯ã‚¤ãƒ™ãƒ³ãƒˆ -->
      <a-entity
        position="0 1.6 0"
        look-controls
        wasd-controls
        camera
        cursor
        raycaster="objects: a-gltf-model"
      >
        <a-entity
          raycaster="far: 30; objects: a-gltf-model"
          cursor=""
          geometry="primitive: ring; radiusOuter: 0.015;
          radiusInner: 0.01; segmentsTheta: 32"
          material="color: #283644; shader: flat"
          position="0 0 -0.75"
        ></a-entity>
      </a-entity>
    </a-scene>
  </body>
</html>
