<html>
  <head>
    <!-- ヘッダーのスクリプト群の読み込み -->
    <%- include('./ejs-components/header.ejs') %>
    <script>
      window.onload = (event) => {
        fetch(`<%= apiUrl %>exhibits/<%=exhibit.id%>/incrementViewsCount`, {
          method: 'PUT',
        })
          .then((res) => res.json())
          .then((res) => console.log(res));
      };
      // 既読情報を格納する
      const thisExhibitId = <%=exhibit.id%>;
        const alreadyVisitExhibits =
          localStorage.getItem('alreadyVisitExhibits') ? JSON.parse(localStorage.getItem('alreadyVisitExhibits')) : [];
        // このページの作品IDを追加して、重複を削る
        const updatedVisitExhibits = [...new Set([...alreadyVisitExhibits, thisExhibitId])]
        localStorage.setItem('alreadyVisitExhibits', JSON.stringify(updatedVisitExhibits));
    </script>
  </head>
  <body>
    <!-- audio: trueを付与すると音声も取り入れられるけど、動作が重くなる問題があるので、コメントアウト -->
    <a-scene
      physics="debug : false;"
      renderer="colorManagement: true; antialias: true;"
      networked-scene="
        room: exhibit-<%=exhibit.id%>;
        debug: true;
        adapter: webrtc;
        username: <%=username%>;
        avatar: <%=avatar%>;
        serverURL: <%=wsServerUrl%>;
        audio: <%=enableAudio ? 'true' : 'false'%>;
      "
      cursor="rayOrigin: mouse"
    >
      <!-- camera -->
      <a-camera
        id="player"
        position="0 1.6 0"
        networked="template:#avatar-template;attachTemplateToLocal:false;"
        spawn-in-circle="radius:3"
        universal-controls
        kinematic-body
        look-controls="pointerLockEnabled: true"
      >
        <!-- SELECTIVE INTERSECTIONS -->
        <a-cursor
          id="cursor-item"
          raycaster="objects: a-gltf-model"
          scale="0.1 0.1 0.1"
          geometry="primitive: ring; radiusInner: 0.1; radiusOuter: 0.15;"
          material="color: #ACACAC; shader: flat; opacity: 0.6"
        >
        </a-cursor>
        <a-sphere class="head" visible="false"></a-sphere>
      </a-camera>
      <!-- アバター -->
      <%- include('./ejs-components/ejs-assets/avatar.asset.ejs') %>
      <!-- 空 -->
      <%- include('./ejs-components/ejs-assets/sky.asset.ejs') %>
      <!-- ブース -->
      <%- include('./ejs-components/ejs-assets/booth.asset.ejs') %>
      <!-- 作品概要 -->
      <%-
      include('./ejs-components/ejs-assets/booth-exhibit-overview.asset.ejs') %>
      <!-- 作品紹介 -->
      <%-
      include('./ejs-components/ejs-assets/booth-presentation-image.asset.ejs')
      %>
      <!-- デモ動画、上のタイトル -->
      <%- include('./ejs-components/ejs-assets/booth-demo-video.asset.ejs', {
      exhibit }) %>
      <!-- 真ん中の作品 -->
      <%- include('./ejs-components/ejs-assets/booth-exhibit.asset.ejs') %>
      <!-- リアクションパネル -->
      <%- include('./ejs-components/ejs-assets/booth-reaction-panel.asset.ejs')
      %>
      <!-- いいね -->
      <%- include('./ejs-components/ejs-assets/booth-like.asset.ejs') %>
      <!-- 現在時間を表示 -->
      <%- include('./ejs-components/ejs-assets/booth-current-time.asset.ejs') %>
      <!-- 出口 -->
      <%- include('./ejs-components/ejs-assets/booth-exit.asset.ejs') %>

      <!-- 展示側Exit -->
      <%- include('./ejs-components/ejs-assets/lectern.asset.ejs') %>
    </a-scene>
  </body>
</html>
