<html>
  <head>
    <!-- ãƒ˜ãƒƒãƒ€ãƒ¼ã®ã‚¹ã‚¯ãƒªãƒ—ãƒˆç¾¤ã®èª­ã¿è¾¼ã¿ -->
    <%- include('./ejs-components/header.ejs') %>
    <script>
      window.onload = (event) => {
        fetch(`<%= apiUrl %>exhibits/<%=exhibit.id%>/incrementViewsCount`, {
          method: 'PUT',
        })
          .then((res) => res.json())
          .then((res) => console.log(res));
      };
    </script>
  </head>
  <body>
    <!-- audio: trueã‚’ä»˜ä¸Žã™ã‚‹ã¨éŸ³å£°ã‚‚å–ã‚Šå…¥ã‚Œã‚‰ã‚Œã‚‹ã‘ã©ã€å‹•ä½œãŒé‡ããªã‚‹å•é¡ŒãŒã‚ã‚‹ã®ã§ã€ã‚³ãƒ¡ãƒ³ãƒˆã‚¢ã‚¦ãƒˆ -->
    <a-scene
      renderer="colorManagement: true; antialias: true;"
      networked-scene="room: exhibit-<%=exhibit.id%>;debug: true;adapter: webrtc;"
      cursor="rayOrigin: mouse"
      inspector=""
      keyboard-shortcuts=""
      screenshot=""
      vr-mode-ui=""
      device-orientation-permission-ui=""
      renderer="colorManagement: true"
      visible=""
    >
      <a-assets timeout="200000">
        <!-- æ¥å ´è€…character -->
        <template id="avatar-template">
          <a-entity class="avatar">
            <!-- ãƒªã‚¢ã‚¯ã‚·ãƒ§ãƒ³_ASSET -->
            <a-image
              id="reaction"
              src="/honnban/assets/img/emo_cry.svg"
              position="-0.04 0.05 0.32"
              rotation="0 0 0"
              scale="0.4 0.4 0.4"
              look-at="#player"
            ></a-image>
            <!-- ãƒ¦ãƒ¼ã‚¶ãƒ¼å_ASSET -->
            <a-entity
              class="head"
              id="name"
              text="value: ãƒšãƒ³ã‚®ãƒ³; align: center; negate:false; font: /honnban/assets/fonts/noto-sans-cjk-jp/noto-sans-cjk-jp-msdf.json; font-image: /honnban/assets/fonts/noto-sans-cjk-jp/noto-sans-cjk-jp-msdf.png"
              position="-0.05 -0.2 0.25"
              scale="2 2 2"
              look-at="#player"
            ></a-entity>
            <!-- ðŸ§ -->
            <!-- <a-gltf-model
              class="head"
              src="/honnban/assets/model/cute_penguin/scene.gltf"
              scale="0.003 0.003 0.003"
              rotation="-10 180 0"
              position="0 -1.4 0.05791"
            ></a-gltf-model> -->
            <!-- ðŸ¥• -->
            <a-gltf-model
              class="head"
              src="/honnban/assets/model/super_carrot/scene.gltf"
              scale="0.007 0.007 0.007"
              rotation="-10 180 -15"
              position="0 -1 0"
            ></a-gltf-model>
          </a-entity>
        </template>
        <!-- ä½œå“ã‚µãƒ³ãƒ—ãƒ« -->
        <a-asset-item
          id="sakuhin"
          src="/honnban/assets/model/sakuhin_example/scene.gltf"
        ></a-asset-item>
        <!-- ã„ã„ã­_ASSET -->
        <a-asset-item
          id="likes"
          src="/honnban/assets/model/beating_heart/scene.gltf"
        ></a-asset-item>
        <!-- ç™½ã„ã„ã­_ASSET -->
        <a-asset-item
          id="white-likes"
          src="/honnban/assets/model/white_heart_model/scene.gltf"
        ></a-asset-item>
        <!-- fox -->
        <a-asset-item
          id="fox"
          src="https://poly.googleapis.com/downloads/fp/1608558449118091/9C-MLNfxaor/fgIw32pFZy_/model.gltf"
        ></a-asset-item>
        <!-- ãƒªã‚¢ã‚¯ã‚·ãƒ§ãƒ³_ICONS -->
        <%- include('./ejs-components/ejs-assets/reaction-panel.asset.ejs') %>
      </a-assets>

      <!-- ç©º -->
      <%- include('./ejs-components/ejs-assets/sky.asset.ejs') %>
      <!-- ãƒ­ãƒ“ãƒ¼ -->
      <%- include('./ejs-components/ejs-assets/booth.asset.ejs') %>
      <!-- ãƒ—ãƒ¬ã‚¼ãƒ³ã‚¿ãƒ¼ -->
      <%- include('./ejs-components/ejs-assets/presenter.asset.ejs') %>
      <!-- ä½œå“æ¦‚è¦ -->
      <%- include('./ejs-components/ejs-assets/exhibit_overview.asset.ejs') %>
      <!-- ä½œå“ç´¹ä»‹ -->
      <%- include('./ejs-components/ejs-assets/presentation_image.asset.ejs') %>
      <!-- ãƒ‡ãƒ¢å‹•ç”»ã€ä¸Šã®ã‚¿ã‚¤ãƒˆãƒ« -->
      <%- include('./ejs-components/ejs-assets/demo_video.asset.ejs') %>
      <!-- å‡ºå£ -->
      <%- include('./ejs-components/ejs-assets/exit.asset.ejs') %>

      <!-- ãƒ­ãƒ“ãƒ¼ã«æˆ»ã‚‹ç”¨ã®ãƒœãƒƒã‚¯ã‚¹ã‚’å‡ºå£ã‚¢ã‚»ãƒƒãƒˆã«è¢«ã›ã‚‹ï¼ˆvisible: falseã«ã—ã¦ã€éš ã—ã¦ã„ã‚‹ï¼‰ -->
      <!-- camera -->
      <a-camera
        id="player"
        position="0 1.6 0"
        networked="template:#avatar-template;attachTemplateToLocal:false;"
        spawn-in-circle="radius:3"
        wasd-controls="acceleration: 300"
        look-controls
        cursor
      >
        <!-- SELECTIVE INTERSECTIONS -->
        <a-cursor
          raycaster="objects: a-gltf-model; objects: a-image"
        ></a-cursor>
        <a-sphere class="head" visible="false"></a-sphere>
      </a-camera>
      <!-- ä½œå“ -->
      <a-gltf-model
        id="foxs"
        src="#fox"
        scale="0.3 0.3 0.3"
        position="-0.383 0.63654 0.4"
        sakuhin-on-click
        sakuhin-hover
      ></a-gltf-model>
      <!-- ç¾åœ¨æ™‚é–“ã‚’è¡¨ç¤º -->
      <a-text
        id="now-time"
        value="aaaa"
        color="#000000"
        scale="2.97348 2.93727 15"
        position="-0.05 3.605 4.337"
        rotation="0 158.21 0"
      ></a-text>
      <!-- ç™½ã„ã„ã­ãƒ¢ãƒ‡ãƒ« -->
      <a-gltf-model
        on-click
        id="white-like"
        src="#white-likes"
        scale="0.015 0.015 0.015"
        rotation="0 57.756 0"
        position="-2.952 0.436 -2.682"
      ></a-gltf-model>
      <!-- ã„ã„ã­ãƒ¢ãƒ‡ãƒ« -->
      <a-entity
        id="like"
        gltf-model="#likes"
        scale="0.17932 0.20506 0.2375"
        rotation="0 57.74612434005515 0"
        position="-2.90927 0.41615 -2.68227"
        visible="false"
      ></a-entity>
      <!-- ã„ã„ã­æ•° -->
      <a-text
        id="number-of-like"
        value="<%=exhibit.goodCount%>"
        data-exhibit-id="<%=exhibit.id%>"
        color="#000000"
        scale="2.79 2.81 3.334"
        position="-2.205 0.479 -2.666"
        rotation="0 34.648 0"
        text="width: 3; negate: false"
      ></a-text>

      <!-- ãƒ‘ãƒãƒ« -->
      <a-entity
        id="menu"
        geometry="primitive: plane; width: 3.4; height: 1.82"
        material="color: #000000; opacity: 0.7"
        radius="200"
        theta-length="110"
        position="-0.70126 1.06574 -1.18901"
        rotation="0 89.834 0"
        scale="0.515 0.4621 1"
        visible="false"
      ></a-entity>
      <a-entity
        id="menuBackground"
        geometry="primitive: plane; width: 3.4; height: 1.82"
        material="shader: gradientshader; topColor: #f971c3; bottomColor: #6ff9ea"
        color="#000000"
        opacity="0.1"
        render-order="menu"
        radius="200"
        theta-length="110"
        position="-0.70304 1.06159 -1.195"
        rotation="0 89.834 0"
        scale="0.53472 0.496 1.5"
        visible="false"
      ></a-entity>

      <!-- ãƒªã‚¢ã‚¯ã‚·ãƒ§ãƒ³_ASSSET -->
      <a-image
        id="i-love"
        class="reaction-panel"
        src="#love"
        scale="0.27661 0.29119 0.5"
        position="-0.64357 1.27987 -0.61076"
        rotation="0 90.61556713112022 0"
        visible="false"
        love-effect
        reaction-panel-hover
      ></a-image>
      <a-image
        id="i-twincle"
        class="reaction-panel"
        src="#twincle"
        scale="0.27661 0.29119 0.5"
        position="-0.655 1.2786 -1.19534"
        rotation="0 90.61556713112022 0"
        visible="false"
        twincle-effect
        reaction-panel-hover
      ></a-image>
      <a-image
        id="i-smile"
        class="reaction-panel"
        src="#smile"
        scale="0.27661 0.29119 0.5"
        position="-0.655 1.27838 -1.78385"
        rotation="0 90.61556713112022 0"
        visible="false"
        smile-effect
        reaction-panel-hover
      ></a-image>
      <a-image
        id="i-think"
        class="reaction-panel"
        src="#think"
        scale="0.27661 0.29119 0.5"
        position="-0.655 0.87007 -0.61403"
        rotation="0 90.61556713112022 0"
        visible="false"
        think-effect
        reaction-panel-hover
      ></a-image>
      <a-image
        id="i-cry"
        class="reaction-panel"
        src="#cry"
        scale="0.27661 0.29119 0.5"
        position="-0.655 0.86913 -1.20737"
        rotation="0 90.61556713112022 0"
        visible="false"
        cry-effect
        reaction-panel-hover
      ></a-image>
      <a-image
        id="i-angry"
        class="reaction-panel"
        src="#angry"
        scale="0.27661 0.29119 0.5"
        position="-0.655 0.8679 -1.78503"
        rotation="0 90.61556713112022 0"
        visible="false"
        angry-effect
        reaction-panel-hover
      ></a-image>
    </a-scene>
  </body>
</html>
