<!-- prettier-ignore -->
<%
  let exhibit = null;
  let position = null;
  let boothId = null;

  // 1 ~ 8までの位置情報関連をここで集約的に管理する
  // 後々、数式でなんとかしたい（ロビーの中心座標から算出出来そうな気もしている）
  const positions = {
    "at1": {
      level: {
        scale: "1.19463 0.96799 2.566",
        position: "-1.35939 7.24538 -11.63734",
        rotation: ""
      },
      idText: {
        scale: "3 3 2",
        position: "-2.53981 6.20987 -11.71318",
        rotation: ""
      },
      title: {
        scale: "3 3 2",
        position: "-1.09585 6.2062 -11.96297",
        rotation: "0 -3.8766324418551497 0",
      },
      thumbnail: {
        scale: "2.65836 2.42992 3.33289",
        position: "-0.12895 2.88171 -11.74348",
        rotation: "0 0 0"
      }
    },
    "at2": {
      level: {
        scale: "1.19463 0.96799 2.566",
        position: "5.73509 7.2054 -9.80856",
        rotation: "0 -46.600949309170375 0"
      },
      idText: {
        scale: "3 3 2",
        position: "5.39496 6.23608 -10.62067",
        rotation: "0 -40.62557246375102 0"
      },
      title: {
        scale: "3 3 2",
        position: "7.0386 6.22457 -9.28547",
        rotation: "-4.553295597904652 -47.67123447047475 0.25210142985756223",
      },
      thumbnail: {
        scale:    "2.20482 2.39508 3.44246",
        position: "7.53164 2.89382 -8.55824",
        rotation: "0.23548565379876835 -44.88494071275356 -0.059014652898474795"
      }
    },
    "at3": {
      level: {
        scale: "1.19463 0.96799 2.566",
        position: "10.81125 7.11403 -2.12075",
        rotation: "0 -76.85713159664375 0"
      },
      idText: {
        scale: "3 3 2",
        position: "10.69738 6.255 -3.120",
        rotation: "0 -79.088 0"
      },
      title: {
        scale: "2.23566 3 2",
        position: "11.0101 6.29455 -1.37882",
        rotation: "0 -95.21355343704508 0",
      },
      thumbnail: {
        scale:"2.14844 2.38422 2.9693",
        position: "10.74885 2.94272 -0.81654",
        rotation: "0.4875870836563306 -91.02351308125336 -0.37070369344964266"
      }
    },
    "at4": {
      level: {
        scale: "1.14722 0.96799 1.79325",
        position: "9.08983 7.22566 5.31743",
        rotation: "0 -129.85228989947413 0"
      },
      idText: {
        scale: "3 3 2",
        position: "9.355 6.216 4.889",
        rotation: "00 -127.127 0"
      },
      title: {
        scale: "2.23566 3 2",
        position: "8.42819 6.2872 6.29803",
        rotation: "0 -137.90578466783296 0",
      },
      thumbnail: {
        scale:    "2.23431 2.44308 2.56557",
        position: "7.51628 3.00217 6.88038",
        rotation: "1.8947714284976325 -134.12483617776468 0.2469448097013848"
      }
    },
    "at5": {
      level: {
        scale: "1.19463 0.96799 2.566",
        position: "1.01038 7.11583 10.29855",
        rotation: "0 -172.87683665143788 0"
      },
      idText: {
        scale: "3 3 2",
        position: "2.08364 6.1511 10.16317",
        rotation: "0 -173.32947330959126 0"
      },
      title: {
        scale: "2.02278 3 2",
        position: "0.47687 6.22673 10.23145",
        rotation: "0 177.58826860079864 0",
      },
      thumbnail: {
        scale:    "2.13534 2.3982 2.56557",
        position: "-0.20724 3.00078 10.11234",
        rotation: "1.1745634800181877 -179.6807104686164 -0.14381240657783664"
      }
    },
    "at6": {
      level: {
        scale: "1.11276 0.8599 2.566",
        position: "-6.30231 7.16658 8.51848",
        rotation: "-0.008594366926962348 147.181971371001 0.5884276555993554"
      },
      idText: {
        scale: "3 3 2",
        position: "-5.860 6.141 8.918",
        rotation: "0 142.578 0"
      },
      title: {
        scale: "2.64176 3 2",
        position: "-7.070 6.210 7.973",
        rotation: "0.496 141.423 -0.582",
      },
      thumbnail: {
        scale:    "2.13534 2.42107 2.56557",
        position: "-7.91489 3.03998 6.92751",
        rotation: "1.1745634800181877 134.83644975931716 0.1627200138171538"
      }
    },
    "at7": {
      level: {
        scale: "1.19463 0.96799 2.566",
        position: "-11.2028 7.24307 0.41617",
        rotation: "0 89.17973489652238 0"
      },
      idText: {
        scale: "3 3 2",
        position: "-10.87963 6.23138 1.42946",
        rotation: "0 103.45096765764092 0"
      },
      title: {
        scale: "3 3 2",
        position: "-11.318 6.313 -0.058",
        rotation: "1.395 88.649 0.245",
      },
      thumbnail: {
        scale:    "2.16455 2.40059 2.08721",
        position: "-11.09604 3.08112 -0.80141",
        rotation: "2.3846503433344863 90.01797215079877 0.054430990537428205"
      }
    },
    "at8": {
      level: {
        scale: "1.195 0.968 2.566",
        position: "-9.477 7.156 -6.934",
        rotation: "2.996 47.259 "
      },
      idText: {
        scale: "3 3 2",
        position: "-9.874 6.086 -6.520",
        rotation: "0 50.790 0"
      },
      title: {
        scale: "3 3 2",
        position: "-9.023 6.098 -7.573",
        rotation: "1.3945792733484237 43.29269100008501 0.24465297852086154",
      },
      thumbnail: {
        scale:    "2.22675 2.51884 3.44246",
        position: "-7.83392 2.89535 -8.487",
        rotation: "5.350852848726758 45.597127252101174 -0.03265859432245692"
      }
    }
} %>
<html>
  <head>
    <!-- ヘッダーのスクリプト群の読み込み -->
    <%- include('./ejs-components/header.ejs') %>
  </head>
  <body>
    <a-scene renderer="colorManagement: true; antialias: true;">
      <a-assets timeout="200000">
        <img id="thumbnail1" src="/honnban/assets/img/dog.jpg" />
        <img id="thumbnail2" src="/honnban/assets/img/bloodhound.png" />
        <img id="thumbnail3" src="/honnban/assets/img/pitagora.png" />
        <img id="comming_soon1" src="/honnban/assets/img/comming_soon1.jpg" />
        <img id="comming_soon2" src="/honnban/assets/img/comming_soon2.jpg" />
        <img id="comming_soon3" src="/honnban/assets/img/comming_soon3.png" />
        <img id="comming_soon4" src="/honnban/assets/img/comming_soon4.png" />
        <img id="title1" src="/honnban/assets/img/title1.png" />
        <img id="title2" src="/honnban/assets/img/title2.png" />
        <img id="title8" src="/honnban/assets/img/title8.png" />
        <img id="lv1" src="/honnban/assets/img/lv1.png" />
        <img id="lv2" src="/honnban/assets/img/lv2.png" />
        <img id="lv3" src="/honnban/assets/img/lv3.png" />
        <!-- bgm -->
        <audio id="bgm" src="/honnban/assets/music/apex_OST.mp3"></audio>

        <!-- Avatar -->
        <a-asset-item
          id="person"
          src="/honnban/assets/model/person_small/scene.gltf"
        ></a-asset-item>

        <a-asset-item
          id="overview"
          src="/honnban/assets/model/roll-up_display/scene.gltf"
        ></a-asset-item>
        <a-asset-item
          id="overview2"
          src="/honnban/assets/model/roll-up_demophorius/scene.gltf"
        ></a-asset-item>
      </a-assets>

      <!-- camera -->
      <a-entity position="0 0 6">
        <a-entity
          camera=""
          position="0.00991 1.6 -5.90104"
          look-controls="pointerLockEnabled: true"
          wasd-controls="acceleration: 300"
          rotation="1.7188733853924711 -0.34377467707849396 0"
          data-aframe-inspector-original-camera=""
        >
          <a-cursor material="" raycaster="" cursor="" geometry=""></a-cursor>
        </a-entity>
        <a-cursor></a-cursor>
      </a-entity>

      <!-- 空 -->
      <%- include('./ejs-components/ejs-assets/sky.asset.ejs') %>
      <!-- ロビー -->
      <%- include('./ejs-components/ejs-assets/lobby.asset.ejs') %>

      <!--  ポジションが１にある作品  -->
      <!-- prettier-ignore -->
      <%# 1~8までループ %>
      <% for (var i = 1; i < 9; i++) { %>
      <% 
        exhibit = exhibits.find(e => e.booth.positionNumber === i);
        position = positions["at"+i];
        boothId = i;
      %>
      <!-- prettier-ignore -->
      <%-
        include('./ejs-components/ejs-assets/exhibit-panel.asset.ejs', {
          exhibit,
          position,
          boothId
        })
      %>
      <% } %>

      <!-- Avater -->
      <a-gltf-model
        id="person"
        src="#person"
        scale="0.7 0.8 0.8"
        position="0 1.14648 -1.5"
        gltf-model="/honnban/assets/model/person_small//scene.gltf"
      ></a-gltf-model>

      <a-gltf-model
        id="person2"
        src="#person"
        scale="0.7 0.8 0.8"
        position="6.96409 0.22744 -7.81779"
        gltf-model="/honnban/assets/model/person_small//scene.gltf"
      ></a-gltf-model>
      <a-gltf-model
        id="person2"
        src="#person"
        scale="0.7 0.8 0.8"
        position="6.96409 0.22744 -7.81779"
        roration="-180.000 42.292 -180.000"
      ></a-gltf-model>

      <a-gltf-model
        id="person3"
        src="#person"
        scale="0.7 0.8 0.8"
        position="-6.27455 0.22744 -8.54957"
        gltf-model="/honnban/assets/model/person_small//scene.gltf"
      ></a-gltf-model>
    </a-scene>

    <!-- フッター部分のscriptあれば読み込み -->
    <%- include('./ejs-components/footer.ejs') %>
  </body>
</html>
