<html>
  <head>
    <!-- ヘッダーのスクリプト群の読み込み -->
    <%- include('./ejs-components/header.ejs') %>
    <script>
      // スマホ用コントローラのスタイルの読み込み
      if (
        (navigator.userAgent.indexOf('iPhone') > 0 &&
          navigator.userAgent.indexOf('iPad') == -1) ||
        navigator.userAgent.indexOf('iPod') > 0 ||
        navigator.userAgent.indexOf('Android') > 0
      ) {
        console.log('スマホ');
        document.write(
          '<link rel="stylesheet" type="text/css" href="/honnban/ejs-components/ejs-assets/mobile-controller-style.css"/>',
        );
      } else {
        console.log('ウェブ');
      }
      window.onload = (evt) => {
        fetch(
          `<%= apiUrl %>access_log?username=<%= username %>&avatar=<%= avatar %>`,
          {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ url: window.location.pathname }),
          },
        );

        const alreadyVisitExhibits = localStorage.getItem(
          'alreadyVisitExhibits',
        )
          ? JSON.parse(localStorage.getItem('alreadyVisitExhibits'))
          : [];
        alreadyVisitExhibits.forEach((exhibitId) => {
          const thubmnailEl = document.getElementById(
            `exhibit-panel-thumbnail-${exhibitId}`,
          );
          if (!thubmnailEl) return;
          thubmnailEl.setAttribute('material', 'color:  #5c5c5c;');
        });
      };
    </script>
  </head>
  <body>
    <!-- スマホ用コントローラの読み込み -->
    <%- include('./ejs-components/ejs-assets/mobile-controller.asset.ejs') %>

    <a-scene
      physics="debug : false;"
      renderer="colorManagement: true; antialias: true;"
      networked-scene="
        room: lobby;
        debug: true;
        adapter: webrtc;
        username: <%=username%>;
        avatar: <%=avatar%>;
        serverURL: <%=wsServerUrl%>;
        audio: <%=enableAudio ? 'true' : 'false'%>;
      "
      cursor="rayOrigin: mouse"
      keyboard-shortcuts="enterVR: false;"
      vr-mode-ui="enabled: false;"
      screen-controls
    >
      <a-assets timeout="200000">
        <img id="comming_soon1" src="/honnban/assets/img/comming_soon1.jpg" />
        <img id="comming_soon2" src="/honnban/assets/img/comming_soon2.jpg" />
        <img id="comming_soon3" src="/honnban/assets/img/comming_soon3.png" />
        <img id="comming_soon4" src="/honnban/assets/img/comming_soon4.png" />
        <img id="lv1" src="/honnban/assets/img/lv1.svg" />
        <img id="lv2" src="/honnban/assets/img/lv2.svg" />
        <img id="lv3" src="/honnban/assets/img/lv3.svg" />
        <!-- bgm -->
        <audio id="bgm" src="/honnban/assets/music/theme14.mp3"></audio>
      </a-assets>
      <!-- アバター -->
      <%- include('./ejs-components/ejs-assets/avatar.asset.ejs') %>
      <!-- camera -->
      <a-camera
        id="player"
        position="0 2.5 0"
        networked="template:#avatar-template;attachTemplateToLocal:false;"
        spawn-in-circle="radius:3"
        universal-controls
        kinematic-body
        look-controls="pointerLockEnabled: true"
        extended-wasd-controls="flyEnabled: false; inputType: joystick;"
      >
        <!-- SELECTIVE INTERSECTIONS -->
        <a-cursor
          id="cursor-item"
          raycaster="objects: a-gltf-model,a-image"
          scale="0.1 0.1 0.1"
          geometry="primitive: ring; radiusInner: 0.1; radiusOuter: 0.15;"
          material="color: #ffffff; shader: flat; opacity: 0.6"
        >
        </a-cursor>
        <a-sphere class="head" visible="false"></a-sphere>
      </a-camera>
      <!-- 空 -->
      <%- include('./ejs-components/ejs-assets/sky.asset.ejs') %>
      <!-- ロビー -->
      <%- include('./ejs-components/ejs-assets/lobby.asset.ejs') %>
      <!-- prettier-ignore -->
      <%
      include('./ejs-components/exhibition-information.ejs')
      positions = positions();
      %>
      <%# boothsの数だけループ %>
      <%
        exhibitsEnableBooth = exhibits.filter(e => !!e.booth);
        exhibitsEnableBooth.forEach((exhibit, index) => {
      %>
        <%
          position = positions[`at${exhibit.booth.positionNumber}`];
          boothId = exhibit.booth.id;
        %>
      <!-- prettier-ignore -->
      <%-
          include('./ejs-components/ejs-assets/lobby-exhibit-panel.asset.ejs', {
            exhibit,
            position,
            boothId
          })
        %>
      <% }); %>
      <!-- 現在時間を表示 -->
      <%- include('./ejs-components/ejs-assets/lobby-current-time.asset.ejs') %>
      <!-- パネル -->
      <%#-include('./ejs-components/ejs-assets/lobby-panel.asset.ejs') %>
    </a-scene>
    <!-- フッター部分のscriptあれば読み込み -->
    <%- include('./ejs-components/footer.ejs') %>
  </body>
</html>
