<!-- prettier-ignore -->
<%
  let exhibit = null;
  let position = null;
  let boothId = null;

  // 1 ~ 8までの位置情報関連をここで集約的に管理する
  // 後々、数式でなんとかしたい（ロビーの中心座標から算出出来そうな気もしている）
  const positions = {
    "at1": {
      level: {
        scale: "0.74846 0.69919 2.566",
        position: "-2.41022 4.52019 -11.71097",
        rotation: "0 7.624922337600996 0"
      },
      idText: {
        scale: "2.07804 1.8031 2",
        position: "-2.8136 8.09982 -11.22747",
        rotation: "0 0 0"
      },
      title: {
        scale: "1.65622 2.18327 2",
        position: "-2.7311 7.64355 -11.25421",
        rotation: "0 -3.8766324418551497 0",
      },
      thumbnail: {
        scale: "2.65836 2.42992 3.33289",
        position: "-0.12895 2.88171 -11.74348",
        rotation: "0 0 0"
      }
    },
    "at2": {
      level: {
        scale: "0.74846 0.69919 2.566",
        position: "5.92724 4.49358 -10.17188",
        rotation: "0 -33.84117921160695 0"
      },
      idText: {
        scale: "2.07804 1.8031 2",
        position: "5.59 8.08431 -10.09112",
        rotation: "0 -50.62139415760336 0"
      },
      title: {
        scale: "1.65622 2.18327 2",
        position: "5.51643 7.64235 -9.9314",
        rotation: "-4.553295597904652 -47.67123447047475 0.25210142985756223",
      },
      thumbnail: {
        scale:    "2.20482 2.39508 3.44246",
        position: "7.53164 2.89382 -8.55824",
        rotation: "0.23548565379876835 -44.88494071275356 -0.059014652898474795"
      }
    },
    "at3": {
      level: {
        scale: "0.74846 0.69919 2.566",
        position: "10.69265 4.37043 -3.04769",
        rotation: "0 -76.85713159664375 0"
      },
      idText: {
        scale: "2.07804 1.8031 2",
        position: "10.593 8.196 -3.357",
        rotation: "0 -91.516 0"
      },
      title: {
        scale: "1.65622 2.18327 2",
        position: "10.445 7.684 -3.273",
        rotation: "0 -95.214 0",
      },
      thumbnail: {
        scale:"2.14844 2.38422 2.9693",
        position: "10.74885 2.94272 -0.81654",
        rotation: "0.4875870836563306 -91.02351308125336 -0.37070369344964266"
      }
    },
    "at4": {
      level: {
        scale: "0.74846 0.69919 2.566",
        position: "9.15189 4.4476 5.27687",
        rotation: "0 -129.85228989947413 0"
      },
      idText: {
        scale: "2.07804 1.8031 2",
        position: "9.24684 8.26017 5.05008",
        rotation: "0 -133.62407106482033 0"
      },
      title: {
        scale: "1.65622 2.18327 2",
        position: "9.22657 7.75041 5.12166",
        rotation: "0 -137.90578466783296 0",
      },
      thumbnail: {
        scale:    "2.23431 2.44308 2.56557",
        position: "7.51628 3.00217 6.88038",
        rotation: "1.8947714284976325 -134.12483617776468 0.2469448097013848"
      }
    },
    "at5": {
      level: {
        scale: "0.74846 0.69919 2.566",
        position: "2.037 4.353 9.801",
        rotation: "0 -172.877 0"
      },
      idText: {
        scale: "2.07804 1.8031 2",
        position: "2.452 8.207 9.77563",
        rotation: "0 -173.32900000000004 0"
      },
      title: {
        scale: "1.65622 2.18327 2",
        position: "2.42467 7.66663 9.7529",
        rotation: "0 177.58826860079864 0",
      },
      thumbnail: {
        scale:    "2.13534 2.3982 2.56557",
        position: "-0.20724 3.00078 10.11234",
        rotation: "1.1745634800181877 -179.6807104686164 -0.14381240657783664"
      }
    },
    "at6": {
      level: {
        scale: "0.74846 0.69919 2.566",
        position: "-6.19279 4.37648 8.07904",
        rotation: "-0.008594366926962348 147.181971371001 0.5884276555993554"
      },
      idText: {
        scale: "2.07804 1.8031 2",
        position: "-5.933 8.215 8.326",
        rotation: "0.496 135.279 -0.582"
      },
      title: {
        scale: "1.65622 2.18327 2",
        position: "-5.95 7.6308 8.23442",
        rotation: "0.536 134.206 -0.022",
      },
      thumbnail: {
        scale:    "2.13534 2.42107 2.56557",
        position: "-7.91489 3.03998 6.92751",
        rotation: "1.1745634800181877 134.83644975931716 0.1627200138171538"
      }
    },
    "at7": {
      level: {
        scale: "0.74846 0.69919 2.566",
        position: "-11.05854 4.46159 1.31982",
        rotation: "0 89.17973489652238 0"
      },
      idText: {
        scale: "2.07804 1.8031 2",
        position: "-10.7677 8.18417 1.62086",
        rotation: "0 92.18203374300789 0"
      },
      title: {
        scale: "1.65622 2.18327 2",
        position: "-10.84316 7.61469 1.56344",
        rotation: "1.395 88.649 0.24500000000000002",
      },
      thumbnail: {
        scale:    "2.16455 2.40059 2.08721",
        position: "-11.09604 3.08112 -0.80141",
        rotation: "2.3846503433344863 90.01797215079877 0.054430990537428205"
      }
    },
    "at8": {
      level: {
        scale: "0.74846 0.69919 2.566",
        position: "-9.47264 4.28162 -7.00726",
        rotation: "2.995996310739075 50.548055559826615 0"
      },
      idText: {
        scale: "2.07804 1.8031 2",
        position: "-9.41917 8.23784 -6.35987",
        rotation: "0 48.893926405283935 0"
      },
      title: {
        scale: "1.65622 2.18327 2",
        position: "-9.36294 7.73895 -6.45807",
        rotation: "1.3945792733484237 43.29269100008501 0.24465297852086154",
      },
      thumbnail: {
        scale:    "2.22675 2.51884 3.44246",
        position: "-7.83392 2.89535 -8.487",
        rotation: "5.350852848726758 45.597127252101174 -0.03265859432245692"
      }
    }
} %>
<html>
  <head>
    <!-- ヘッダーのスクリプト群の読み込み -->
    <%- include('./ejs-components/header.ejs') %>
  </head>
  <body>
    <a-scene renderer="colorManagement: true; antialias: true;">
      <a-assets timeout="200000">
        <img id="thumbnail1" src="/honnban/assets/img/dog.jpg" />
        <img id="thumbnail2" src="/honnban/assets/img/bloodhound.png" />
        <img id="thumbnail3" src="/honnban/assets/img/pitagora.png" />
        <img id="comming_soon1" src="/honnban/assets/img/comming_soon1.jpg" />
        <img id="comming_soon2" src="/honnban/assets/img/comming_soon2.jpg" />
        <img id="comming_soon3" src="/honnban/assets/img/comming_soon3.png" />
        <img id="comming_soon4" src="/honnban/assets/img/comming_soon4.png" />
        <img id="title1" src="/honnban/assets/img/title1.png" />
        <img id="title2" src="/honnban/assets/img/title2.png" />
        <img id="title8" src="/honnban/assets/img/title8.png" />
        <img id="lv1" src="/honnban/assets/img/lv1.svg" />
        <img id="lv2" src="/honnban/assets/img/lv2.svg" />
        <img id="lv3" src="/honnban/assets/img/lv3.svg" />
        <img id="heart" src="/honnban/assets/img/heart.png" />

        <!-- iine -->
        <a-asset-item
          id="likes"
          src="/honnban/assets/model/little_chick/scene.gltf"
        ></a-asset-item>

        <!-- bgm -->
        <audio id="bgm" src="/honnban/assets/music/theme14.mp3"></audio>

        <!-- Avatar -->
        <a-asset-item
          id="person"
          src="/honnban/assets/model/person_small/scene.gltf"
        ></a-asset-item>

        <a-asset-item
          id="overview"
          src="/honnban/assets/model/roll-up_display/scene.gltf"
        ></a-asset-item>
        <a-asset-item
          id="overview2"
          src="/honnban/assets/model/roll-up_demophorius/scene.gltf"
        ></a-asset-item>
        <!-- いいね_ASSET -->
        <a-asset-item
          id="nice1"
          src="/honnban/assets/model/beating_heart/scene.gltf"
        ></a-asset-item>
      </a-assets>

      <!-- camera -->
      <a-entity position="0 1.33508 6">
        <a-entity
          camera=""
          position="0.5621667832552238 1.6 -3.3517248203504244"
          look-controls="pointerLockEnabled: true"
          wasd-controls="acceleration: 300"
          rotation="-4.010704565915765 4.583662361046577 0"
          data-aframe-inspector-original-camera=""
        >
          <a-cursor material="" raycaster="" cursor="" geometry=""></a-cursor>
        </a-entity>
        <a-cursor material="" raycaster="" cursor="" geometry=""></a-cursor>
      </a-entity>

      <!-- 空 -->
      <%- include('./ejs-components/ejs-assets/sky.asset.ejs') %>
      <!-- ロビー -->
      <%- include('./ejs-components/ejs-assets/lobby.asset.ejs') %>

      <!-- prettier-ignore -->
      <%# 1~8までループ %>
      <% for (var i = 1; i < 9; i++) { %>
      <%
        exhibit = exhibits.find(e => e.booth.positionNumber === i);
        position = positions["at"+i];
        boothId = i;
      %>
      <!-- prettier-ignore -->
      <%-
        include('./ejs-components/ejs-assets/exhibit-panel.asset.ejs', {
          exhibit,
          position,
          boothId
        })
      %>
      <% } %>

      <!-- Avater -->
      <%- include('./ejs-components/ejs-assets/lobby-avater.asset.ejs') %>

      <!-- 現在時間を表示 -->
      <a-text
        id="now-time"
        value="aaaa"
        color="#000000"
        scale="4.7652 4.48239 15"
        position="-2.33916 9.61894 -11.02357"
      ></a-text>

      <%# panel %>
      <%-include('./ejs-components/ejs-assets/lobby-panel.asset.ejs') %>
    </a-scene>

    <!-- フッター部分のscriptあれば読み込み -->
    <%- include('./ejs-components/footer.ejs') %>
  </body>
</html>
