<html>
  <head>
    <!-- ヘッダーのスクリプト群の読み込み -->
    <%- include('./ejs-components/header.ejs') %>
    <script>
      var watched = localStorage.getItem('alreadyRead');
      console.log('watched:' + watched);

      var readArray = localStorage.getItem('readArray');

      if ((readArray = 'null')) {
        readArray = watched;
        localStorage.setItem('readArray', readArray);
        console.log('null' + readArray);
      } else {
        readArray = [localStorage.getItem('readArray')];
        readArray.push(watched);
        localStorage.setItem('readArray', readArray);
        console.log('not null' + readArray);
      }
      readArray = localStorage.getItem('readArray');
      console.log('観覧したブース:' + readArray);
      // localStorage.removeItem('readArray');
    </script>
  </head>
  <body>
    <a-scene
      physics="debug : false;"
      renderer="colorManagement: true; antialias: true;"
      networked-scene="
        room: lobby;
        debug: true;
        adapter: webrtc;
        username: <%=username%>;
        avatar: <%=avatar%>;
        serverURL: <%=wsServerUrl%>;
        audio: true;
      "
      cursor="rayOrigin: mouse"
    >
      <a-assets timeout="200000">
        <img id="comming_soon1" src="/honnban/assets/img/comming_soon1.jpg" />
        <img id="comming_soon2" src="/honnban/assets/img/comming_soon2.jpg" />
        <img id="comming_soon3" src="/honnban/assets/img/comming_soon3.png" />
        <img id="comming_soon4" src="/honnban/assets/img/comming_soon4.png" />
        <img id="title1" src="/honnban/assets/img/title1.png" />
        <img id="title2" src="/honnban/assets/img/title2.png" />
        <img id="title8" src="/honnban/assets/img/title8.png" />
        <img id="lv1" src="/honnban/assets/img/lv1.svg" />
        <img id="lv2" src="/honnban/assets/img/lv2.svg" />
        <img id="lv3" src="/honnban/assets/img/lv3.svg" />
        <!-- bgm -->
        <audio id="bgm" src="/honnban/assets/music/theme14.mp3"></audio>
      </a-assets>
      <!-- アバター -->
      <%- include('./ejs-components/ejs-assets/avatar.asset.ejs') %>
      <!-- camera -->
      <a-camera
        id="player"
        position="0 2.5 0"
        networked="template:#avatar-template;attachTemplateToLocal:false;"
        spawn-in-circle="radius:3"
        universal-controls
        kinematic-body
        look-controls="pointerLockEnabled: true"
      >
        <!-- SELECTIVE INTERSECTIONS -->
        <a-cursor
          id="cursor-item"
          raycaster="objects: a-gltf-model,a-image"
          scale="0.1 0.1 0.1"
          geometry="primitive: ring; radiusInner: 0.1; radiusOuter: 0.15;"
          material="color: #ACACAC; shader: flat; opacity: 0.6"
        >
        </a-cursor>
        <a-sphere class="head" visible="false"></a-sphere>
      </a-camera>
      <!-- 空 -->
      <%- include('./ejs-components/ejs-assets/sky.asset.ejs') %>
      <!-- ロビー -->
      <%- include('./ejs-components/ejs-assets/lobby.asset.ejs') %>
      <!-- prettier-ignore -->
      <%
      include('./ejs-components/exhibition-information.ejs')
      positions = positions();
      %>
      <%# 1~8までループ %>
      <% for (var i = 1; i < 9; i++) { %>
      <%
        exhibit = exhibits.find(e => e.booth.positionNumber === i);
        position = positions["at"+i];
        boothId = i;
      %>
      <!-- prettier-ignore -->
      <%-
        include('./ejs-components/ejs-assets/lobby-exhibit-panel.asset.ejs', {
          exhibit,
          position,
          boothId
        })
      %>
      <% } %>
      <!-- 現在時間を表示 -->
      <%- include('./ejs-components/ejs-assets/lobby-current-time.asset.ejs') %>
      <!-- パネル -->
      <%#-include('./ejs-components/ejs-assets/lobby-panel.asset.ejs') %>
    </a-scene>
    <!-- フッター部分のscriptあれば読み込み -->
    <%- include('./ejs-components/footer.ejs') %>
  </body>
</html>
